body{
    @include background-image(linear-gradient(white, #000080));
}

.wrap {
    margin: 0 auto;
    width: 960px;
}

.portolio {

img {
    display: block;
    width: 200px;
    float: left;
    }

}
