.media-grid {
  list-style-type: none;
  background: #C0C0C0;
  margin: 0;
  padding: 0;

  li {
    background: #FFFFFF;
    float: left;
    height: 200px;
    width: 20%;
  }

  li:nth-child(even) {
    background: #C0C0C0;
  }

}

.media-grid-sm li {
  width: 10%;
  height: 100px;
}
