/* line 1, ../sass/components/_base.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #000080));
  background-image: -webkit-linear-gradient(#ffffff, #000080);
  background-image: -moz-linear-gradient(#ffffff, #000080);
  background-image: -o-linear-gradient(#ffffff, #000080);
  background-image: linear-gradient(#ffffff, #000080);
}

/* line 5, ../sass/components/_base.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
}

/* line 12, ../sass/components/_base.scss */
.portolio img {
  display: block;
  width: 200px;
  float: left;
}

/* line 1, ../sass/components/_media.scss */
.media-grid {
  list-style-type: none;
  background: #C0C0C0;
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/components/_media.scss */
.media-grid li {
  background: #FFFFFF;
  float: left;
  height: 200px;
  width: 20%;
}
/* line 14, ../sass/components/_media.scss */
.media-grid li:nth-child(even) {
  background: #C0C0C0;
}

/* line 20, ../sass/components/_media.scss */
.media-grid-sm li {
  width: 10%;
  height: 100px;
}

/* line 1, ../sass/components/_brag.scss */
.brag-space {
  width: 960px;
  height: 700px;
  padding-top: 100px;
  background: #ecf0f1;
}
/* line 7, ../sass/components/_brag.scss */
.brag-space img {
  margin-left: 350px;
}

/* line 1, ../sass/components/_headline.scss */
.headline-meta {
  width: 960px;
  height: 446px;
  background: #ecf0f1;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 9, ../sass/components/_headline.scss */
.headline-meta h1 {
  text-align: center;
  background: #d35400;
  padding: 20px;
  margin: 0;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 20, ../sass/components/_headline.scss */
.headline-meta p {
  margin-left: 250px;
}
