html {
 background-image: url("background.png");
 background-color: #0312FF;
}

body {
  width: 761px;
  margin: 1em auto;
  border-color: #B033B;
  border-style: solid;
  border-width: 10px;
  padding: 0px;
  padding-left: 50px;
  padding-right:50px;
  background-color: #12BBFF;
  border-bottom:none;




h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  padding: 7px;
  margin-right: -10px;
  color: #ffffff;
  background-color: #000000
}

h3 {

  color: #ffffff;

}

h4{
  font-family: "Arial Black", Gadget, sans-serif;

}


}
