#footer {
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  height: 70px;
  width:116%;
  margin-left:-8%;
  background-color: #000;
  color: #FFF;
  margin-bottom:-120px

}

#contact {

  a:hover {
    text-decoration: none;
    color: #fff;
  }
}
