a {
  font-weight: bold;
  color: #BDD5E7;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
  color: #BDD5E7;
  background-color: #FFA500;

}

a:visited {
color: #2574B2;
}

a:active {
background-color: #BDD5E7;
}
