@media (max-width: 600px) {
  .port li {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .port li {
    width: 100%;
  }

  header li {
    display: block;
    padding: 1em;

    a {
      font-size: 1.2em;
    }
  }
}
