body{
    background: #000080;
}

.wrap {
    margin: 0 auto;
    width: 960px;
}

/* ==========================================================================
   headline
   ========================================================================== */

.headline-meta h1 {
    text-align: center;
    background: #d35400;
    padding: 20px;
    margin: 0;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.headline-meta {
    width: 960px;
    height: 446px;
    background: #ecf0f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.headline-meta p{
  margin-left: 250px;
}


/* ==========================================================================
   img
   ========================================================================== */

.portolio img {
    display: block;
    width: 200px;
    float: left;
    }


/* ==========================================================================
   media grid
   ========================================================================== */

.media-grid {
  list-style-type: none;
  background: #C0C0C0;
  margin: 0;
  padding: 0;
}

.media-grid li {
  background: #FFFFFF;
  float: left;
  height: 200px;
  width: 20%;
}

.media-grid li:nth-child(even) {
  background: #C0C0C0;
}

.media-grid.media-grid-sm li {
  width: 10%;
  height: 100px;
}

/* ==========================================================================
   brag
   ========================================================================== */

.brag-space {
    width: 960px;
    height: 700px;
    padding-top: 100px;
    background: #ecf0f1;
}

.brag-space img {
  margin-left: 350px;

}
